header {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: var(--medium-orange);
    justify-content: space-around;
}
.containerHeader {
    display: flex;
    justify-content: space-around;
}

#entrar {
    width: 100px;
    height: 50px;
    margin-top: 15px;
    background-color: var(--celtic-blue);
    border-radius: 20px;
    font-size: 30px;
}

#cadastrar {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    background-color: var(--polynesian-blue);
    border-radius: 20px;
    font-size: 30px;
}